# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.env
.venv
.venv*/
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/
*.code-workspace

# Project specific data
*.pbf
trgtfs/
*.zip
*.csv
!shape_id_map.csv

# Logs and reports
reports_*.csv

# Legacy/Unused scripts
legacy/
